@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    young serif,
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(26, 0, 29);
  background: linear-gradient(
    137deg,
    rgba(26, 0, 29, 1) 0%,
    rgba(157, 25, 153, 1) 33%,
    rgba(221, 48, 134, 1) 62%,
    rgba(231, 164, 0, 1) 100%
  );
}

.headercss {
  background: rgb(26, 0, 29);
  background: linear-gradient(
    137deg,
    rgba(26, 0, 29, 1) 0%,
    rgba(157, 25, 153, 1) 33%,
    rgba(221, 48, 134, 1) 62%,
    rgba(231, 164, 0, 1) 100%
  );
}

.stroke-header {
  font-family: Bebas Neue;
  color: black;
  -webkit-text-stroke: 4px white;
  text-shadow: white 0 0 20px;
}

.stroke-normal {
  color: black;
  -webkit-text-stroke: 1px white;
  text-shadow: white 0 0 10px;
}

.sky-shadow-blue {
  box-shadow: 0 0 200px 200px rgba(21, 37, 90, 0.9);
}

.sky-shadow-violet {
  box-shadow: 0 0 300px 300px rgba(34, 12, 73, 0.9);
}

.sky-shadow-violet-2 {
  box-shadow: 0 0 100px 100px rgba(75, 24, 163, 0.9);
}
.sky-shadow-violet-3 {
  box-shadow: 0 0 200px 200px rgba(28, 8, 63, 0.7);
}

.star {
  box-shadow: 0 0 10px 3px white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
